.btnImg {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;

}

.imageBtn {
  width: 3rem;
}

.divBtns {
  text-align: start;
}

.divSearch {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.inputSearch {
  width: 60%;
  height: 2.5rem;
  border: 0;
  text-align: center;

  border-radius: 50px;
  border-color: transparent;

  background: #111;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
}

.btnSearch {
  width: 25%;
  height: 2.3rem;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btnSearch {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnSearch:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-btnSearch 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-btnSearch {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.btnSearch:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.modal {
  display: none;
  position: fixed;

  width: 50%;
  height: 100%;
  background-color: transparent !important;
  
}

.modal_content {
  position: fixed;
  top: 0rem;
  left: 70rem;
  width: 25%;
  height: 30%;

  background-color: Transparent !important;
  background-repeat: no-repeat;
  border: none ;

  color: white;
}

.modal-content {
  border: none
  
}

.modal-backdrop {
  z-index: -1;
}

.modalBackground {
  background-color: #932c2c;
  border: none ;
  
}

.cardList {
  display: flex;
  justify-content: center;
  align-items: center;
}
